body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: darkmagenta;
    padding: 10px;
}
nav .navbar-brand{
    font-weight: bolder;
}
.move{
    background-color: darkmagenta;
    color: white;
}
.over{
    background-color: darkmagenta;
    margin-top: 20px;
}
.max{
    background-color: darkmagenta;
    color: white;
}
.moon{
    color: darkmagenta;
}
